/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body,
input,
select {
  background-color: #525252;
}

label {
  cursor: pointer;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

input, select {
  border: none;
  font-size: inherit;
  color: white;
  border-radius: 15px;
  padding: 4px;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #525252 inset !important;
}

input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

input:focus::placeholder,
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent;
}

::placeholder {
  text-align: inherit;
  color: inherit;
  font-size: inherit;
  opacity: 1;
}

:-ms-input-placeholder,
::-ms-input-placeholder {
  text-align: inherit;
  color: inherit;
  font-size: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.display-container {
  display: flex;
  flex-direction: column;
  background: rgb(0 0 0 / 90%);
  color: white;
  width: 60%;
  height: 60%;
  border-radius: 20px;
  padding: 0 40px 40px;
}

.title {
  text-align: center;
  font-size: 3rem;
  padding: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.form-city {
  flex: 2;
}

.form-country {
  flex: 2;
}

.form-state {
  flex: 1;
}

.units-container {
  display: flex;
  gap: 10px;
}

.city-input,
.state-select {
  width: 100%;
}

.country-select {
  width: auto;
}

.form-submit {
  text-align: center;
}

.imperial-container,
.metric-container {
  display: flex;
}

.units-input { 
  width: 20px;
  height: 20px;
  accent-color: #525252;
  cursor: pointer;
}

.submit-btn {
  padding: 4px 40px;
  cursor: pointer;
}

.weather-heading {
  text-align: center;
  font-size: 2.5rem;
}

.weather-main-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.weather-info-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather-main {
  font-size: 2rem;
}

.weather-info-bottom {
  display: flex;
  flex: 1;
  align-self: center;
  width: 100%;
  gap: 25%;
}

.weather-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-details-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #525252;
  padding-top: 10px;
}

.error-msg {
  font-size: 2.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display:none;
}

#weather-desc {
  text-transform: capitalize;
}

#loader {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #262626;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}